/* Styles for the entire nav container */
.nav {
    display: flex;
    align-items: center;
    
    background-color: #f8f9fa; /* Light background */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Slight shadow for navbar */
  }
  
  /* Styles for the logo (icon) */
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Darker text color */
  }
  
  /* Container for the logo image and title */
  .nav-logo {
    display: flex;
    align-items: center; /* Aligns image and text vertically */
  }
  
  
  .nav-logo img {
    width: 40px; /* Adjust the image size */
    height: 40px;
     /* Adds space between the image and the title */
  }
  .logo{
    flex:0.5
  }
  
  
  